*.swp
*.DS_Store
*.zip
*.6
*.out

assignment5/make/mk
assignment5/make/make
assignment5/make/dag
assignment4/dag/dag
assignment2/prepro/pp
assignment3/ls/ls
assignment3/ls/main
assignment6/map_reduce/matrixClient
assignment6/map_reduce/matrixServer
assignment6/map_reduce/regclient-test
assignment6/map_reduce/regserver
assignment6/map_reduce/regclient
assignment7/wagon/wag
assignment8/games/games
assignment9/games/local
assignment9/games/remote
